<div id="task_0" data-ng-controller="CreateController" data-ng-class="createClass()" >
        <form id="task_form_0" class="col s10" >
            <div class="row valign-wrapper">
                <div class="input-field col s10">
                                    <textarea id="task_input_0" name="task"
                                              class="materialize-textarea validate" maxlength="255" data-ng-keyup="handleKeyUp($event)" data-ng-model="value">
                                    </textarea>
                    <label for="task_input_0">Task Description</label>
                </div>
                <div class="col s2 valign">
                    <a href="javascript:void(0)" class="secondary-content"
                       data-ng-click="store()">
                        <i class="medium material-icons ">done</i>
                    </a>
                </div>
            </div>
        </form>

</div>