<div id="modal-task-delete" class="modal" data-ng-controller="DialogController">
    <div class="modal-content">
        <h4>Are sure want to delete record?</h4>
        <p id="task-to-delete-text">{{deleteTarget.task}}</p>
    </div>
        <div data-ng-class="loader ? 'overlay modal-footer' : 'modal-footer'">
        <a href="javascript:void(0)" class="waves-effect waves-red btn-flat" data-ng-click="deleteCancel($event)">Cancel</a>
        <a href="javascript:void(0)" class="waves-effect waves-green btn-flat" data-ng-click="delete($event)">Delete</a>
    </div>
</div>